<div class="section-error-page">
  <div class="inner-section-error-page">
    <div class="main-block">
      <div class="error-text-block">
        <h1>{{ sharedTranslateKeys.PageNotFoundReachedOutOfUniverse | translate }}</h1>
        <div class="text-block">
          {{ sharedTranslateKeys.UserNotAuthorizedMessage | translate }}
          <a class="link-text" href="/">{{ sharedTranslateKeys.UserNotAuthorizedBackToHomeMessage | translate }}</a>
        </div>
      </div>
    </div>
  </div>
</div>
