registry=https://registry.npmjs.org/
@nas:registry=https://gitlab.fiyu.online/api/v4/projects/12/packages/npm/
//gitlab.fiyu.online/api/v4/projects/12/packages/npm/:_authToken=${PROJECT_NPM_TOKEN}
@fiyu:registry=https://gitlab.fiyu.online/api/v4/projects/36/packages/npm/
//gitlab.fiyu.online/api/v4/projects/36/packages/npm/:_authToken=${NPM_TOKEN}
email=fiyu-admins@serengetitech.com
legacy-peer-deps=true
progress=true
