<fiyu-feedback-bar />
<div class="col-12 md:col-12 forgot-password-container">
  <div class="card">
    <div class="logo-container">
      <ng-container *ngIf="themeConfig$ | async as themeConfig">
        <img
          class="logo"
          alt="fiyu-logo"
          width="427"
          height="168"
          priority
          [ngSrc]="
            '../../assets/images/logo/fiyu-' +
            (themeConfig.colorScheme === colorScheme.Green ? 'white' : 'black') +
            '.svg'
          "
        />
      </ng-container>
    </div>
    <h5>{{ sharedTranslateKeys.ForgotPasswordTitle | translate }}</h5>
    <form [formGroup]="form">
      <div class="formgroup main-container">
        <div class="field p-fluid">
          <label for="email">{{ sharedTranslateKeys.Email | translate }}</label>
          <input
            pInputText
            type="email"
            formControlName="email"
            id="email"
            autocomplete="email"
            class="p-inputtext p-component p-element p-2 mt-2"
            spellcheck="false"
            data-cy="email"
            aria-label="Enter email"
          />
          <div *ngIf="form.get('email').hasError('required')" class="error-message p-error">
            {{ sharedTranslateKeys.ForgotPasswordRequiredErrorMessage | translate }}
          </div>
          <div *ngIf="form.get('email').touched && form.get('email').hasError('email')" class="error-message p-error">
            {{ sharedTranslateKeys.ForgotPasswordPatternErrorMessage | translate }}
          </div>
        </div>
        <div class="actions-row">
          <button
            pButton
            pRipple
            type="button"
            class="actions-row-button"
            data-cy="send-forgot-pass-email"
            aria-label="Send"
            [label]="sharedTranslateKeys.Send | translate"
            [title]="sharedTranslateKeys.Send | translate"
            [disabled]="!form.valid"
            (click)="sendForgotPasswordEmail()"
          ></button>
          <a
            role="link"
            pButton
            class="p-button-info"
            data-cy="cancel-send-email"
            aria-label="Cancel"
            [label]="sharedTranslateKeys.Cancel | translate"
            [title]="sharedTranslateKeys.Cancel | translate"
            [routerLink]="['/login']"
          ></a>
        </div>
      </div>
    </form>
  </div>
</div>
