.forgot-password-container {
  display: flex;
  flex-direction: column;
  //  margin: 180px auto;
  align-items: center;
  justify-content: center;
  overflow-y: hidden;
  height: 100vh;
  min-height: 100vh;
  background-size: 100% 100%;
  background-repeat: no-repeat;
  background-image: url('../../../assets/images/FIYU_rocket_dark_bg.webp');
}

.error-message {
  font-size: 14px !important;
  margin-top: 8px;
  margin-bottom: 8px;
}

.logo-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

.logo {
  height: 50px !important;
  width: auto;
}

.actions-row {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: flex-start;
  gap: 1rem;
  row-gap: 1rem;
  margin-top: 12px;
}

/* For mobile View */
@media screen and (min-width: 300px) {
  .card {
    min-width: 100%;
  }
}

/* For Tablet View */
@media screen and (min-device-width: 768px) and (max-device-width: 1024px) {
  .card {
    min-width: 600px;
  }
}

/* For Desktop View */
@media screen and (min-width: 1024px) {
  .card {
    min-width: 400px;
  }
}
