<fiyu-feedback-bar />
<div class="col-12 md:col-12 reset-password-container">
  <div class="card">
    <div class="logo-container">
      <ng-container *ngIf="themeConfig$ | async as themeConfig">
        <img
          class="logo"
          alt="fiyu-logo"
          width="427"
          height="168"
          priority
          [ngSrc]="
            '../../assets/images/logo/fiyu-' +
            (themeConfig.colorScheme === colorScheme.Green ? 'white' : 'black') +
            '.svg'
          "
        />
      </ng-container>
    </div>
    <h5>{{ sharedTranslateKeys.ResetPasswordTitle | translate }}</h5>
    <form [formGroup]="form">
      <div class="formgroup main-container">
        <div class="field p-fluid mt-2">
          <label for="verification-code">{{ sharedTranslateKeys.VerificationCode | translate }}</label>
          <p-inputMask
            type="text"
            ariaLabel="Enter verification code"
            inputId="verification-code"
            formControlName="verificationCode"
            styleClass="mt-2"
            mask="9-9-9-9-9-9"
            autocomplete="off"
            spellcheck="false"
            placeholder="0-0-0-0-0-0"
            data-cy="verification-code"
            [required]="true"
            [unmask]="true"
          />
          <div *ngIf="form.get('verificationCode').hasError('required')" class="error-message p-error">
            {{ sharedTranslateKeys.ForgotPasswordVerificationCodeErrorMessage | translate }}
          </div>
          <div
            *ngIf="form.get('verificationCode').touched && form.get('verificationCode').hasError('minlength')"
            class="error-message p-error"
          >
            {{ sharedTranslateKeys.ForgotPasswordVerificationCodeErrorMessage | translate }}
          </div>
        </div>
        <div class="field p-fluid mt-2">
          <label for="new-password">{{ sharedTranslateKeys.NewPassword | translate }}</label>
          <p-password
            inputId="new-password"
            formControlName="newPassword"
            styleClass="p-password p-component p-inputwrapper p-input-icon-right mt-2"
            autocomplete="new-password"
            spellcheck="false"
            data-cy="new-password"
            ariaLabel="Enter new password"
            [feedback]="false"
            [toggleMask]="true"
          />
          <div
            *ngIf="form.get('newPassword').touched && form.get('newPassword').hasError('minlength')"
            class="error-message p-error"
          >
            {{ sharedTranslateKeys.ResetPasswordMinLengthErrorMessage | translate }}
          </div>
          <div
            *ngIf="form.get('newPassword').touched && form.get('newPassword').hasError('hasNumber')"
            class="error-message p-error"
          >
            {{ sharedTranslateKeys.ResetPasswordNumberPatternErrorMessage | translate }}
          </div>
          <div
            *ngIf="form.get('newPassword').touched && form.get('newPassword').hasError('hasCapitalCase')"
            class="error-message p-error"
          >
            {{ sharedTranslateKeys.ResetPasswordCapitalCasePatternErrorMessage | translate }}
          </div>
          <div
            *ngIf="form.get('newPassword').touched && form.get('newPassword').hasError('hasSmallCase')"
            class="error-message p-error"
          >
            {{ sharedTranslateKeys.ResetPasswordSmallCasePatternErrorMessage | translate }}
          </div>
          <div
            *ngIf="form.get('newPassword').touched && form.get('newPassword').hasError('hasSpecialCharacters')"
            class="error-message p-error"
          >
            {{ sharedTranslateKeys.ResetPasswordSpecialCharPatternErrorMessage | translate }}
          </div>
        </div>
        <div class="field p-fluid mt-2">
          <label for="confirm-password">{{ sharedTranslateKeys.NewPasswordConfirm | translate }}</label>
          <p-password
            inputId="confirm-password"
            formControlName="confirmPassword"
            styleClass="p-password p-component p-inputwrapper p-input-icon-right mt-2"
            autocomplete="new-password"
            spellcheck="false"
            data-cy="confirm-password"
            ariaLabel="Confirm your new password"
            [feedback]="false"
            [toggleMask]="true"
          />
          <div *ngIf="form.get('confirmPassword').hasError('required')" class="error-message p-error">
            {{ sharedTranslateKeys.ResetPasswordRequiredErrorMessage | translate }}
          </div>
          <div
            *ngIf="form.get('confirmPassword').touched && form.get('confirmPassword').hasError('noPasswordMatch')"
            class="error-message p-error"
          >
            {{ sharedTranslateKeys.ResetPasswordMatchErrorMessage | translate }}
          </div>
        </div>
        <div class="actions-row">
          <button
            pButton
            pRipple
            type="button"
            class="actions-row-button"
            data-cy="reset-password"
            aria-label="Reset password"
            [label]="sharedTranslateKeys.Submit | translate"
            [title]="sharedTranslateKeys.Submit | translate"
            [disabled]="!form.valid"
            (click)="resetPassword()"
          ></button>
          <a
            tabindex="0"
            role="button"
            aria-label="Cancel"
            pButton
            class="p-button-info"
            data-cy="cancel-reset"
            [label]="sharedTranslateKeys.Cancel | translate"
            [title]="sharedTranslateKeys.Cancel | translate"
            [routerLink]="['/login']"
          ></a>
        </div>
      </div>
    </form>
  </div>
</div>
