<div class="section-error-page">
  <div class="inner-section-error-page">
    <div class="main-block">
      <div class="error-text-block">
        <h1>{{ sharedTranslateKeys.PageNotFoundReachedOutOfUniverse | translate }}</h1>
        <div class="text-block">
          {{ sharedTranslateKeys.PageNotFoundReturnMessage | translate }}
          <a class="link-text" href="/">{{ sharedTranslateKeys.PageNotFoundReturnBackToHome | translate }}</a>
        </div>
      </div>
      <div class="_404-error-block">
        <div class="ct-text-block outline--text-stroke">404</div>
      </div>
    </div>
  </div>
</div>
